﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Demo site for <a href="https://gitlab.com/gerely/gitsharpcms">GitSharpCms</a>.</p>

    @foreach(var dashboardItem in Model)
    {
        <div>
            @Html.Raw(dashboardItem)
        </div>
    }
</div>
